body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    margin: 0px;
}

header,footer {
    margin: 0px;
    padding-top: 10px;
    background-color: #555;
    color: #ccc;
    height: 75px;
    text-align: center;
}

main {
    background-color: beige;
    padding: 10px 25%;
}

a {
    text-decoration: none;
}

a:link {
    font-weight: bolder;
}

a:hover {
    font-style: italic;
}

a:visited{
    color: purple;
}

h1 {
    font-size: 24pt;
    margin: 5px;
}

h2 {
    font-size: 18pt;
}

h3 {
    font-size: 8pt;
}

h1,h2,h3 {
    text-align: center;
}

.text-center {
    text-align: center;
}